# Auto detect text files and perform LF normalization
* text=auto

# Normalize (Convert crlf => lf)
*.php text
*.css text
*.js text
*.htm text
*.html text
*.xml text
*.txt text
*.ini text
*.inc text
*.inc java
.htaccess text
